/*
	Author: Bec Braughton
	File: print.css
	Date: 9.30.19
	Project: Responsive Coffee
*/


/* Hidden Objects */

header h1 {
	font-size: 3em;
	padding: none;
	margin: none;
}
.navbar, footer {
	display: none;
}


/* Formatting */

body {
	color: black;
}

img.img1, img.img2, img.img3 {
	min-width: 2in;
}

@page {
	margin: 0.5cm;
}