/*
	Author: 
	File: styles.css
	Date: 
	Project: 
*/

/*Gallery Styles from previous site*/

div.gallery {
  margin: 5px;
  border: 1px solid #63F;
  float: left;
  max-width: 24%;
  max-height: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  max-height: 400px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #3B3131;
}

/* Structural Styles*/
body{
 font-family: Helvetica, Arial, sans-serif;
  margin: 20px/*top*/ 25px/*right*/ 0px/*bottom*/ 25px/*left*/;
  background-color:#b3b3b3;
  box-sizing: border-box;
  color: #6F4E37;
}
.container{
  width:100%;
  margin:auto;
  max-width: 1900px;
  background-color:#3B3131;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/*Text box on the image*/
.text-block {
	position: relative;
	bottom: 0px;
	right: 0px;
	background-color:#F0F8FF;
	color:black;
	padding-left:5px;
	padding-right:5px;
}
/*Header Styles*/
header {
	background-color: #e9d7ab;
}
header h1 {
	padding: 90px 55px 70px 35px;
	margin-bottom: 0px;
	font-size: 3em;
	text-align: center;
}

/*Nav Styles*/
.navbar {
	overflow: hidden;
	background-color: #9999ff;
}
.navbar a {
	float: right;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: right;
	overflow: hidden;
}
.dropdown .dropbtn {
	cursor: pointer;
	font-size: 1em;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: #003366;
}
.dropdown-content, #navbarBurger {
	display: none;
	position: absolute;
	background-color: #0066cc;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a, #navbarBurger a {/*menu text*/
	float: none;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover, #navbarBurger a:hover {
	background-color: #3399FF;
}
.show {
  display: block;
}

#navbarBurger, .navbarBurger {
	display: none;
}

/*Column Styles*/
.cols {
  padding: 50px 10px 5px 10px;
  line-height: 1.5
}
.col1, .col2, .col3 {

  float:left;
  width:30%;
  margin-right:5%;
}
.col3{
  margin-right: 0%;
}
img {
  width: 100%;
  margin: 0 0 10px 0;
}

/*Main Content Styles*/
.main-content{
  width: 65%;
	float: left;
	margin-right: 5%;
}

/*Sidebar Styles*/
.sidebar{
  width: 30%;
	float: left;
	color: white;
}/*little boxes at the bottom*/
.sidebox-1{
	background-color:#9999ff;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}
.sidebox-2{
  background-color:#003366;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

/*Footer Styles*/
footer {
	text-align: center;
	color: lightgrey;
}
footer p {
	padding-top: 15px;
}
footer a{
	text-decoration: none;
	color: lightgrey;
}

/* Responsive Styles: Big to Small*/
@media screen and (max-width: 1900px) {
	header h1 {
		font-size: 3em;
	}

	.col1 {
		float: left;
		width: 45%;
	}
	.col2 {
		width: 45%;
	}
	.col3 {
		width: 95%;
	}
}

@media screen and (max-width: 850px) {
	header h1 {
		font-size: 3em;
	}

	.col1 {
		float: left;
		width: 45%;
	}
	.col2 {
		width: 45%;
	}
	.col3 {
		width: 95%;
	}
}

@media screen and (max-width: 580px) {
	header {
		padding: 5px;
	}
	header h1 {
		font-size: 2.5em;
	}

	/* Dropdown Button */
	.dropbtn {
		background-color: #00FFFF;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: 1px #637713 solid;
		cursor: pointer;
		margin: auto;
		border-radius: 5px;
	}

	/* Dropdown Button On Hover & Focus */
	.dropbtn:hover, .dropbtn:focus {
		background-color: #637713;
	}
	#navbarBurger{
		padding: 10px; 
		margin: 10px;
		overflow: hidden;
	}
	#navbarBurger a {
		padding: 5px;
	}

	.navbar {
		display: none;
	}
	
	.showX, .navbarBurger {
	  display: block !important;
	}
	
	.col1, .col2 {
		width: 95%;
	}
}
